body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 400px;
  margin: 0 auto;
  /* border: 2px solid #c6c6c6; */
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

li {
  cursor: pointer;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.icon {
  width: 25px;
}

.align-right {
  margin-left: auto;

}

header .container {
  background-color: #282828;
  color: whitesmoke;
}

section img {
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

.caption {
  margin: 0 25px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 20px;
}

.img-banner {
  background-color: #cd6858;
  color: whitesmoke;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.item {
  position: relative;
}

button {
  border: none;
  color: whitesmoke;
  background-color: #cd6858;
  padding: 10px 15px;
  font-weight: 700;
  cursor: pointer;
  /* margin: auto; */
  align-self: center;
}

.item-img {
  display: block;
}