body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 400px;
  margin: 0 auto;
  border: 2px solid #c6c6c6;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 25px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.icon {
  width: 25px;
}

header .container {
  background-color: #282828;
  color: whitesmoke;
}

section img {
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}